body {
	background: url(triangle.png) no-repeat center center fixed;
	background-size: cover;
}

.date{
	width: 190px;
	margin-bottom: 5px;
}

article {
	display: inline-block;
	width: auto;
	margin: 0.5%;
	vertical-align: top;
	text-align: left;
}

input {
	border-radius: 5px;
}

select {
	border-radius: 5px;
	width: 195px;
}

.tête{
	display:grid;
	font-family:arial;
	grid-template-columns: 20% 60% 20%;
	grid-template-rows: 7rem;
	margin-left: 150px;
	margin-right: 150px;
}

.logo {
	float: left;
}

.titre {
	text-align: center;
	font-family: 'Cinzel', serif;
	font-size: 20px;
}

.logo2 {
	float: right;
}

.button {
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	background: linear-gradient(to top, darkgrey, 20%, #20b2aa);
	width: 25.9%; 
	height: 25px;
	margin-right: 15px;
	font-family: 'Cinzel', serif;
	font-weight: bold;
	border: 2px solid lightgrey;
	border-radius: 5px;
}

.btn {
	margin-left: 150px;
}

.un {
	display: block;
	background: white;
	text-align: left;
	font-family: 'Cinzel', serif;
	font-size: 15px;
	border-width: 2px 2px 0px 2px;
	border-color: lightgrey;
	border-style: solid;
}

.un h1 {
	text-align: left;
	background-color: #20b2aa;
	color: white;
	padding: 5px;
	margin-top: 0px;
	font-weight: bold;
}

.i {
	margin-left: 205px;
	font-size: 13px;
}

.identité input {
	width: 190px;
	height: 20px;
}

.identité label {
	display: inline-block;
	width: 200px;
	padding: 0px 0px 10px 4px;
	text-align: right;
	font-size: 13px;
}


.grille1 {
	display: grid;
	grid-template: 100%;
	padding: 0px 100px 0px 50px;
	background-color: white;
	margin-left: 150px;
	margin-right: 150px;
	font-family: 'Cinzel', serif;
	border-width: 0px 2px 0px 2px;
	border-color: lightgrey;
	border-style: solid;
}

.nomNaiss {
	margin-left: 5px;
}

.iddeux {
	margin-left: 50px;
}

.idtrois {
	margin-left: 100px;
}

.grille4 {
	display:grid;
	grid-template: 100%;
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 15px;
}

.c {
	background: white;
	font-family: 'Cinzel', serif;
	border-width: 0px 2px 2px 2px;
	border-color: lightgrey;
	border-style: solid;
	font-size: 13px;
}

.ba {
	margin-left: 150px;
}

.bb {
	margin-left: 175px;
}

.bc {
	margin-left: 275px;
}

.ab {
	margin-left: 45px;
}

.ac {
	width: 190px;
	margin-bottom: 1%;
}
.af {
	margin-bottom: 10px;
}

.grille2 {
	display: grid;
	grid-template: 100%;
	padding-left: 100px;
	padding-right: 100px;
	margin-left: 50px;
	margin-right: 50px;
}

.j {
	margin-left: 585px;
	font-size: 13px;
	margin-top: -1%;
	margin-bottom: -0.6%;
}

.grille3 {
	display: grid;
	grid-template: 100%;
	padding: 0px 100px 0px 50px;
	background-color: white;
	margin-left: 150px;
	margin-right: 150px;
	font-family: 'Cinzel', serif;
	border-width: 0px 2px 2px 2px;
	border-color: lightgrey;
	border-style: solid;
	font-size: 13px;
}

.formation input {
	width: 190px;
	height: 20px;
}

.formation label {
	display: inline-block;
	width: 200px;
	padding: 0px 0px 10px 4px;
	text-align: right;
	font-size: 13px;
}

.ca {
	margin-left: 105px;
}

.ca input {
	margin-bottom: 10px;
}

.cb {
	margin-left: 25px;
	margin-bottom: 5%;
}

.cb input {
	width: 190px;
	margin-bottom: 10px;
}

#bouton1 {
	float: right;
	margin-right: 150px;
	margin-top: 15px;
	margin-bottom: 15px;
	background: linear-gradient(to top, darkgrey, 20%, #20b2aa);
	color: white;
	font-size: 20px;
	font-family: 'Cinzel', serif;
	font-weight: bold;
}